n8n-workflow.json
{
  "name": "Forex Affiliate Outreach System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-leads",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "name": "Webhook - New Leads",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "Receives leads from Apify or AffiliateFinder.ai webhook"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [460, 300],
      "notes": "Process 10 leads at a time to avoid OpenAI rate limits"
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "Classify this Instagram/YouTube account for Forex prop firm affiliate recruitment.\n\nBio: {{ $json.bio }}\nFollowers: {{ $json.followers }}\nAvg Likes: {{ $json.avg_likes }}\nAvg Comments: {{ $json.avg_comments }}\nExternal Links: {{ $json.links }}\nRecent Captions Sample: {{ $json.recent_captions }}\n\nRules:\n- Eligible follower range: 5,000 to 500,000\n- Minimum engagement rate: 2% (likes + comments / followers)\n- Disqualify if any prop firm link found in bio/links (FTMO, MyFundedFX, The5ers, E8, TopStep, FundedNext, Alpha Capital, Fidelcrest, BlueberryFunded)\n- Disqualify if affiliate/promo code language detected in bio or links\n- Disqualify if account appears to be spam, bot, or inactive\n- A creator MENTIONING a prop firm in a caption is NOT disqualifying — only links/bio partnerships are\n\nReturn ONLY this JSON, no explanation:\n{\n  \"eligible\": true/false,\n  \"reason\": \"one sentence\",\n  \"priority\": \"high | medium | low\",\n  \"engagement_rate\": 0.00,\n  \"hidden_affiliation_detected\": true/false,\n  \"outreach_angle\": \"one sentence personalised observation about their content — no mention of partnerships or brands\",\n  \"best_channel\": \"email | instagram_dm | both\"\n}"
            }
          ]
        },
        "options": {
          "temperature": 0,
          "responseFormat": "json_object"
        }
      },
      "name": "OpenAI - Filter + Score Lead",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [680, 300],
      "notes": "gpt-4o-mini keeps cost under $2/1000 leads"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// FOREX AFFILIATE DM SYSTEM — FINAL SPINTAX NODE\n// All corrections applied:\n// - True weighted template distribution\n// - Deterministic round-robin account assignment\n// - Dual risk threshold (50-79 = review, 80+ = skip)\n// - Prop-firm specific CTAs (no 'brands/partnerships')\n// - Message length guard (260 char max)\n// - Link shortener detection in risk score\n// ============================================\n\nfunction pickRandom(options) {\n  return options[Math.floor(Math.random() * options.length)];\n}\n\nfunction randomDelay(min, max) {\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nfunction calcRiskScore(profile) {\n  let score = 0;\n  const bio = (profile.bio || '').toLowerCase();\n  const links = (profile.links || '').toLowerCase();\n  const captions = (profile.recent_captions || '').toLowerCase();\n  const combined = bio + ' ' + links + ' ' + captions;\n\n  // HARD signals — explicit affiliate language\n  const hardSignals = [\n    'use code', 'promo code', 'ref=', 'discount code',\n    'my link in bio', 'use my code', 'affiliate link'\n  ];\n  hardSignals.forEach(s => { if (combined.includes(s)) score += 35; });\n\n  // FIRM signals — only score if in LINKS (not just mentioned)\n  const propFirms = [\n    'ftmo', 'myfundedfx', 'the5ers', 'e8 funding',\n    'topstep', 'fundednext', 'alpha capital',\n    'fidelcrest', 'blueberry funded', 'aquafunded'\n  ];\n  propFirms.forEach(f => {\n    if (links.includes(f)) score += 50;    // link = confirmed partner\n    else if (bio.includes(f)) score += 20; // bio mention = possible partner\n    // caption mention alone = NOT scored (natural content review)\n  });\n\n  // Link shorteners — often hide affiliate URLs\n  const shorteners = ['bit.ly', 'linktr.ee', 'beacons.ai', 'stan.store', 'solo.to'];\n  shorteners.forEach(s => { if (links.includes(s)) score += 10; });\n\n  // Soft signals\n  if (/affiliate|ambassador|official partner/.test(bio)) score += 25;\n\n  // Follower range check\n  const followers = profile.followers || 0;\n  if (followers < 5000 || followers > 500000) score += 30;\n\n  return Math.min(score, 100);\n}\n\nfunction selectTemplate(profile, outreachAngle) {\n  const priority = (profile.priority || '').toLowerCase();\n  const hasGoodAngle = outreachAngle && outreachAngle.length > 30;\n\n  // TRUE weighted distribution:\n  // High priority + good angle: A=35%, B=35%, C=30%\n  // All others: A=50%, B=50%, C=0%\n  if (priority === 'high' && hasGoodAngle) {\n    const r = Math.random();\n    if (r < 0.35) return 'A';\n    if (r < 0.70) return 'B';\n    return 'C'; // 30%\n  }\n\n  // Else: only A/B, perfectly even\n  return Math.random() < 0.5 ? 'A' : 'B';\n}\n\n// ── MAIN ──────────────────────────────────\n\nconst profile = $input.item.json;\n\n// Merge OpenAI result into profile\nlet aiData = {};\ntry {\n  aiData = JSON.parse(profile.message?.content || '{}');\n} catch(e) {\n  aiData = {};\n}\n\nconst merged = { ...profile, ...aiData };\nconst outreachAngle = merged.outreach_angle || '';\nconst firstName = merged.first_name || '';\n\n// Step 1: Risk scoring with dual threshold\nconst riskScore = calcRiskScore(merged);\n\nif (riskScore >= 80) {\n  return [{ json: {\n    ...merged,\n    eligible: false,\n    needs_review: false,\n    skip_reason: `Auto-skipped: risk score ${riskScore}`,\n    risk_score: riskScore,\n    status: 'skipped'\n  }}];\n}\n\nif (riskScore >= 50) {\n  return [{ json: {\n    ...merged,\n    eligible: true,\n    needs_review: true,\n    priority: 'low',\n    skip_reason: null,\n    risk_score: riskScore,\n    dm_message: null,\n    assigned_account: null,\n    status: 'needs_review'\n  }}];\n}\n\n// Also check OpenAI eligibility\nif (!merged.eligible) {\n  return [{ json: {\n    ...merged,\n    eligible: false,\n    needs_review: false,\n    skip_reason: merged.reason || 'Filtered by AI',\n    risk_score: riskScore,\n    status: 'skipped'\n  }}];\n}\n\n// Step 2: Template selection (truly weighted)\nconst templateKey = selectTemplate(merged, outreachAngle);\n\n// Step 3: Prop-firm specific CTAs ONLY — no 'brands/partnerships' language\nconst propFirmCTAs = [\n  'Do you already have a prop firm partner?',\n  'Are you currently promoting any funded account firms?',\n  'Any prop firm referral links or codes you\\'re using right now?',\n  'Open to a prop firm partnership if it\\'s a fit?'\n];\n\nlet dmMessage = '';\n\nif (templateKey === 'A') {\n  // Observation → prop firm question\n  const observation = pickRandom([\n    `Saw your post on funded challenges — ${pickRandom(['super clear breakdown', 'really well explained', 'solid content'])}`,\n    `Your ${pickRandom(['forex', 'trading', 'funded account'])} content is ${pickRandom(['genuinely solid', 'really clean', 'well put together'])}`,\n    `Your breakdown of ${pickRandom(['prop firm challenges', 'funded trading', 'the evaluation process'])} stood out`,\n    `Been following your ${pickRandom(['trading content', 'forex breakdowns', 'market analysis'])} — ${pickRandom(['really impressed', 'genuinely good stuff', 'stands out'])}`\n  ]);\n  const cta = pickRandom(propFirmCTAs);\n  dmMessage = `${observation}.\\n\\n${cta}`;\n\n} else if (templateKey === 'B') {\n  // Credibility → prop firm question\n  const credibility = pickRandom([\n    `Your forex content is solid — feels like you\\'ve got real traders following you`,\n    `${pickRandom(['Genuine', 'Real', 'Solid'])} audience you\\'ve built in the trading space`,\n    `Your content reads like it\\'s written by an actual trader — ${pickRandom(['refreshing', 'rare', 'stands out'])}`,\n    `The engagement on your trading posts is ${pickRandom(['impressive', 'genuinely strong', 'real — not inflated'])}`\n  ]);\n  const cta = pickRandom(propFirmCTAs);\n  dmMessage = `${credibility}.\\n\\n${cta}`;\n\n} else {\n  // Template C — outreach angle → yes/no (high priority + good angle only)\n  const cta = pickRandom([\n    'Open to chatting if you\\'re not already partnered with a prop firm?',\n    'Worth a conversation if you\\'re not already working with one?',\n    'Would you be open to it if you\\'re not already set up with someone?'\n  ]);\n  dmMessage = `${outreachAngle}\\n\\n${cta}`;\n}\n\n// Step 4: Message length guard — max 260 chars\nif (dmMessage.length > 260) {\n  dmMessage = dmMessage.slice(0, 257) + '...';\n}\n\n// Step 5: DETERMINISTIC round-robin account assignment\nconst accounts = [\n  '@your_account_1',\n  '@your_account_2',\n  '@your_account_3'\n];\nconst idx = merged.lead_index || 0;\nconst assignedAccount = accounts[idx % accounts.length];\n\n// Step 6: Randomized human delay (2–9 min, NOT fixed)\nconst delaySecs = randomDelay(120, 540);\nconst delayMins = Math.floor(delaySecs / 60);\nconst delayRemSecs = delaySecs % 60;\nconst delayDisplay = `${delayMins}m ${delayRemSecs}s`;\n\nreturn [{ json: {\n  ...merged,\n  eligible: true,\n  needs_review: false,\n  risk_score: riskScore,\n  template_used: `Template ${templateKey}`,\n  dm_message: dmMessage,\n  message_length: dmMessage.length,\n  assigned_account: assignedAccount,\n  suggested_delay_secs: delaySecs,\n  delay_display: delayDisplay,\n  inro_eligible: false,\n  status: 'queued'\n}}];"
      },
      "name": "Spintax + Template + Risk Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "notes": "Final corrected node: true weighted templates, deterministic round-robin, dual risk threshold"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.eligible }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.needs_review }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "IF - Eligible + Clean",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300],
      "notes": "Routes: clean eligible leads vs needs_review vs skip"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.needs_review }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "name": "IF - Needs Review",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 500],
      "notes": "Catches risk score 50-79 leads for manual inspection"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.best_channel }}",
              "rightValue": "instagram_dm",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "name": "IF - Channel Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 200],
      "notes": "Routes to IG queue vs email vs both"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "DM Queue",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $json.username }}",
            "platform": "={{ $json.platform }}",
            "profile_url": "={{ $json.profile_url }}",
            "followers": "={{ $json.followers }}",
            "engagement_rate": "={{ $json.engagement_rate }}",
            "priority": "={{ $json.priority }}",
            "assigned_account": "={{ $json.assigned_account }}",
            "template_used": "={{ $json.template_used }}",
            "dm_message": "={{ $json.dm_message }}",
            "message_length": "={{ $json.message_length }}",
            "suggested_delay": "={{ $json.delay_display }}",
            "risk_score": "={{ $json.risk_score }}",
            "outreach_angle": "={{ $json.outreach_angle }}",
            "best_channel": "={{ $json.best_channel }}",
            "status": "Queued",
            "inro_eligible": false
          }
        }
      },
      "name": "Airtable - Save to DM Queue",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1560, 200],
      "notes": "Saves to DM Queue table. Create 3 views filtered by assigned_account."
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Email Queue",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $json.username }}",
            "email": "={{ $json.email }}",
            "platform": "={{ $json.platform }}",
            "followers": "={{ $json.followers }}",
            "engagement_rate": "={{ $json.engagement_rate }}",
            "priority": "={{ $json.priority }}",
            "outreach_angle": "={{ $json.outreach_angle }}",
            "risk_score": "={{ $json.risk_score }}",
            "status": "Queued"
          }
        }
      },
      "name": "Airtable - Save to Email Queue",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1560, 360],
      "notes": "Feeds Instantly.ai campaign via Airtable sync"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Needs Review",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $json.username }}",
            "platform": "={{ $json.platform }}",
            "profile_url": "={{ $json.profile_url }}",
            "followers": "={{ $json.followers }}",
            "risk_score": "={{ $json.risk_score }}",
            "skip_reason": "={{ $json.skip_reason }}",
            "bio": "={{ $json.bio }}",
            "links": "={{ $json.links }}",
            "status": "Needs Review"
          }
        }
      },
      "name": "Airtable - Needs Review",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1340, 500],
      "notes": "Risk score 50-79: flagged but not discarded. Review manually."
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Rejected",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $json.username }}",
            "platform": "={{ $json.platform }}",
            "skip_reason": "={{ $json.skip_reason }}",
            "risk_score": "={{ $json.risk_score }}",
            "status": "Skipped"
          }
        }
      },
      "name": "Airtable - Log Rejected",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1340, 680],
      "notes": "Risk score 80+: auto-skipped and logged"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inro-reply-trigger",
        "responseMode": "onReceived"
      },
      "name": "Webhook - Inro Reply Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 600],
      "notes": "Inro fires this ONLY when influencer replies within 24hr active window"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "DM Queue",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Replied",
            "inro_eligible": true,
            "reply_received_at": "={{ $now }}"
          }
        }
      },
      "name": "Airtable - Mark Replied + Enable Inro",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [460, 600],
      "notes": "Updates status and flips inro_eligible to true — Inro qualification flow starts"
    }
  ],
  "connections": {
    "Webhook - New Leads": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    },
    "Split In Batches": {
      "main": [[{ "node": "OpenAI - Filter + Score Lead", "type": "main", "index": 0 }]]
    },
    "OpenAI - Filter + Score Lead": {
      "main": [[{ "node": "Spintax + Template + Risk Score", "type": "main", "index": 0 }]]
    },
    "Spintax + Template + Risk Score": {
      "main": [[{ "node": "IF - Eligible + Clean", "type": "main", "index": 0 }]]
    },
    "IF - Eligible + Clean": {
      "main": [
        [{ "node": "IF - Channel Router", "type": "main", "index": 0 }],
        [{ "node": "IF - Needs Review", "type": "main", "index": 0 }]
      ]
    },
    "IF - Needs Review": {
      "main": [
        [{ "node": "Airtable - Needs Review", "type": "main", "index": 0 }],
        [{ "node": "Airtable - Log Rejected", "type": "main", "index": 0 }]
      ]
    },
    "IF - Channel Router": {
      "main": [
        [{ "node": "Airtable - Save to DM Queue", "type": "main", "index": 0 }],
        [{ "node": "Airtable - Save to Email Queue", "type": "main", "index": 0 }]
      ]
    },
    "Webhook - Inro Reply Trigger": {
      "main": [[{ "node": "Airtable - Mark Replied + Enable Inro", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["forex", "affiliate", "outreach"],
  "meta": {
    "instanceId": "forex-affiliate-outreach-v1"
  }
}
